.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-content {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
}

li a {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 50px;
  text-transform: uppercase;
}

.banner {
  background-image: url("../images/Rectangle.jpg");
  height: 606px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  margin-bottom: 84px;
}

.banner h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.main-content {
  display: flex;
}

.left-side {
  width: 235px;
  margin-right: 83px;
}

.right-side {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 286px;
  height: 312px;
  margin-bottom: 56px;
}

.card img {
  width: 100%;
  height: 195px;
  margin-bottom: 23px;
}

.left-side h5 {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}

.left-side h1 {
  color: #010101;
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 37px;
}

.left-side p {
  color: #636060;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card h3 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}

.card p {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
